/* universal star operator */
* ,
*::before ,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css variables */
:root {
    --soft-white: #f1f1f1;
    --main-background: #3B5999;
    --main-background-gradient: linear-gradient(#44D1A6 , #A94688);
}

/* html and body tag */
html { font-size: 62.5%; }
body {
    width: 100%;
    height: auto;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-background);
}

/* form-action */
.form-control {
    width: 80vw;
    height: auto;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control .input {
    border: none;
}
.form-control .input:focus { outline: 0; }

/* data-store || data store */
.data-store {
    width: 80vw;
    height: auto;
    min-height: 20vh;
    background: yellow;
}