<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <!-- local css files -->
        <link rel="stylesheet" href="/Css/index.css" />
        <!-- page title and favicon -->
        <title>Firebase AUTH</title>
    </head>
    <body>
        
        <!-- main-container for all Child Elements -->
        <div class="main-container" id="main-container">
            <!-- todo images -->
            <img src="/Img/Todo.png" class="todo" id="todo" />
            <!-- Get Started Button -->
            <button type="submit" class="button" id="button">Get Started</button>
        </div>
        
        <!-- local javascript files -->
        <!-- <script src="/Js/index.js" type="text/javascript" charset="utf-8"></script> -->
        <script src="/Js/index.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>