<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <!-- local css files -->
        <link rel="stylesheet" href="/Css/index.css" />
        <link rel="stylesheet" href="/Css/LogIn.css" />
        <!-- page title and favicon -->
        <title>Log I</title>
    </head>
    <body>
           <!-- Heading -->
        <h2 class="head" id="head"> Log In </h2>
        
        <!-- Sign Up Form -->
        <form class="form" id="form" action="" method="get" accept-charset="utf-8">
            <!-- Input Fields -->
            <input class="inputField" autocomplete="off" type="email" name="email" id="email" placeholder="User Email" />
            <input class="inputField" autocomplete="off" type="password" name="password" id="password" placeholder="User Password" />
            <!-- Submit Button -->
            <button type="submit" class="button" id="button">Submit</button>
        </form>

        <!-- local javascript files --> 
        <script src="/Js/index.js" type="text/javascript" charset="utf-8"></script>
        <script src="/Js/LogIn.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>