/* star universal selector */
* ,
*::before ,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css root selector */
:root {
    --soft-white: #f1f1f1;
}

/* body and html */
html { font-size: 62.5rem; }
body {
    width: 100%;
    height: auto;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main Container */
.main-container {
    background: var(--soft-white);
}

/* Class Button */
.button {
    width: 22rem;
    height: 7rem;
    border: none;
    border-radius: 1rem;
}